// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Playfair+Display&display=swap');
// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1 {
  font-family: 'Playfair Display', serif !important;
}

.navbar-font {
  font-family: 'Playfair Display', serif
}

h2 {
  font-family: 'Lato', sans-serif!important;
  font-weight: 800;
}

.sub-menu a {
  font-family: 'Playfair Display', serif;
  color: black;
  opacity: 0.8;
  text-decoration: wavy;
}
