.bands-container {
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background: rgb(98,202,212);
  background: linear-gradient(0deg, rgba(98,202,212,1) 0%, rgba(255,255,255,1) 84%);
  }

.band-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 20px 20px;
}

.band-img {
  margin-top: 10px;
  width: 100%;
  height: 400px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
  flex: 10;
  transition: all 0.5s;
}

.band-img > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.band-img.hover {
  flex: 1;
}

.band-description {
  flex: 1;
  opacity: 0%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  margin-left: 10px;
  padding: 20px;
  transition: all 0.5s;
}

.band-description.slide-in {
  transform: translateX(30%) scale(0.95);
}

.band-description.slide-in.no-transition {
  transition: none;
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

.bands-container h2 {
  text-align: left;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sm-link {
  text-decoration: none;
  font-size: 40px;
  margin: 0 20px;
  color: pink;
  :hover {
    color: black;
  }
}
