.bands-container {
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-between;
}

.band-img img{
  margin-top: 10px;
  width: 100%;
  height: 400px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
  object-fit: cover;
}
