a.nav-btn {
  color: #000000;
  border: 1px solid #000000;
  padding: 26px 24px;
  font-weight: lighter;
  background-color: white;
  opacity: 0.95;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.05);
  text-decoration: none;
  transform: scale(0.95);
  transition:all 0.3s, opacity 0.3s ease;
  opacity: 0.4;
}

a.nav-btn.active {
  opacity: 1;
}

a.nav-btn:hover {
  opacity: 1;
  text-decoration: none;
  transform: scale(1.4);
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
}
.btn {
  width: fit-content;
  display: inline-block;
}
