.photos-container {
  // background: rgb(255, 254, 243);
  // background: linear-gradient(0deg, rgba(255,254,243,1) 0%, rgba(255,255,255,1) 84%);
  min-height: 100vh;
  width: 100%;
  margin-top: 35px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  h1 {
    text-align: center;
  }
}

.photo-container {
  // width: calc(100vh / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  z-index: 1;
  flex: 1;
  width: 500px;
  height: 500px;
  // transition: all 0.2s;
}

.photo.odd {
  box-shadow:
  3px 3px #000000,
  2px 2px #000000,
  3px 3px #000000;
  transform: translateX(-5px);
}

.photo.even {
  box-shadow:
  3px 3px #000000,
  2px 2px #000000,
  3px 3px #000000;
  transform: translateX(5px);
}

.photo-img {
  width: 100%;
  object-fit: cover;
}

.photo.open {
  flex: 2;
  width: 1000px;
  margin-top: 10px;
  height: auto;
  opacity: 100%;
}

.photo-description ul {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 10px;
  // opacity: 0%;
  transition: all 0,1s;
}

.photo-description ul .active {
  opacity: 100%;
}
