.photos-container {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.background {
  width: 100%;
  height: 100%;
  background-image:
	linear-gradient(36deg, rgb(134, 211, 255), rgba(255, 44, 220, 0)),
	url(../../images/noise.svg);
}

.photo-container {
  display: flex;
}

.photo img {
  z-index: 0;
  margin-top: 10px;
  width: 400px;
  height: 400px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
  object-fit: cover;
}

.photo-description ul {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 10px;
  // opacity: 0%;
  transition: all 0,1s;
}

.photo-description ul .active {
  opacity: 100%;
}
